@import "../../theme/variables";

.room-photos{
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: max-content max-content;
  @include media-xl{
    justify-content: center;
  }
  @include media-tablet{
    grid-template-columns: 1fr;
  }
  &__big-photo{
    grid-area: 1 / 1 / 3 / 2;

    @include media-xl{
      grid-area: 1 / 1 / 2 / 3;
    }
    @include media-tablet{
      grid-area: auto;
    }
  }
  img{
    max-width: 100%;
  }
}
.room-details{
  max-width: 1160px;
  padding: 70px 20px 60px;
  margin: 0 auto;
  box-sizing: content-box;
  display: grid;
  grid-template-columns: 713px 380px;
  grid-gap: 66px;
  @include media-lg{
    grid-template-columns: 1fr;
    justify-items: center;
    padding-top: 20px;
  }
  &--with-border{
    border-bottom: 1px solid $darkShade-color-25;
  }
  &__title{
    margin-bottom: 20px;
    &--rule{
      padding-left: 20px;
    }
  }
  &__info-block{

  }
  &__info-wrap{
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-gap: 81px;
    margin-bottom: 14px;
    @include media-lg{
      grid-template-columns: 1fr 1fr;
      justify-items: center;
    }
    @include media-mobile{
      grid-template-columns: 1fr;
      grid-gap: 20px
    }
  }
  &__reviews{
    margin-bottom: 37px;
  }
  &__reviews-header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    span{
      color: $darkShade-color-50;
    }
  }
  &__rule-wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include media-mobile{
      justify-content: center;
    }
  }
  &__rule{
  }
  &__cancel{
    max-width: 324px;
    padding-right: 27px;
    @include media-mobile{
      padding-right: 0;
    }
  }
  &__chart{
  }
  &__chart-block{
    display: flex;
    flex-wrap: wrap;
    @include media-xs{
     justify-content: center;
    }
  }
  &__total-block-wrap{
  }
}

