@import "../../theme/variables";

.pagination-body{
  width: 241px;
}
.pagination{
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  &__page-item{
    font-size: $fz-h3;
    color: $darkShade-color-50;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    position: relative;
    &--active{
      background: rgb(188,156,255);
      background: $purple-linear-gradient;
      color: white;
    }
    &--next,&--prev{
      background: rgb(111,207,151);
      background: $green-linear-gradient;
    }
    &--prev img{
      transform: rotate(180deg);
    }
  }
  &__page-link{
    font-size: $fz-h3;
    color: inherit;
    text-decoration: none;
    &::before{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
}
.pagination-text{
  line-height: 24px;
  color: $darkShade-color-75;
  text-align: center;
  margin: 9px 0;
}
