nav.pagination-body
  ul.pagination
    li.pagination__page-item.pagination__page-item--active
      a(href="/change-me/").pagination__page-link 1
    li.pagination__page-item
      a(href="/change-me/").pagination__page-link 2
    li.pagination__page-item
      a(href="/change-me/").pagination__page-link 3
    li.pagination__page-item
      a(href="/change-me/").pagination__page-link ...
    li.pagination__page-item
      a(href="/change-me/").pagination__page-link 15
    li.pagination__page-item.pagination__page-item--next
      a(href="/change-me/").pagination__page-link
        img(src=require('./img/arrow_forward.svg'))
  p.pagination-text 1 – 12 из 100+ вариантов аренды
