.simple-rating {
    position: relative;
    font-size: 40px;
    display: inline-block;
    width: 120px;
    height: 19px;
    margin-right: 15px;
    &:last-child{
      margin-right: 0;
    }
    /*&::before{
        content: "";
        display: block;
        background: url('./img/star_border.svg');
        width: 100px;
        height: 19px;
    }*/
    &__items{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 3px;
        left: 0;
        display: flex;
        flex-direction: row-reverse;
        overflow: hidden;
    }
    &__item{
        position: absolute;
        width: 0%;
        height: 0%;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        &:checked,
        &:checked ~ .simple-rating__label{
            background: url('./img/star.svg');
        }
    }
    &__label{
        flex: 0 0 20px;
        height: 20px;
        cursor: pointer;
        background: url('./img/star_border.svg');
        display: block;
        margin-right: 3px;
        &::before{
            content: "";
            display: block;
            //transition: color 0.3s ease 0s;
        }
        &:hover,
        &:hover ~ .simple-rating__label,
        &:checked ~ .simple-rating__label:hover{
            background: url('./img/star.svg');
        }
    }
}
