mixin radiobox(name, text, check)
    label(class="custom-radio")
        input(type="radio", name= name class="custom-radio__input", checked=check)
        span(class="custom-radio__indicator")
        span(class="custom-radio__text")=text
