@import "../../theme/variables";

.button-like {
  border: 1px solid $darkShade-color-25;
  background-color: transparent;
  text-decoration: none;
  position: relative;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  border-radius: 10px;
  color: $darkShade-color-25;
  transition: all ease 0.4s;
  width: 40px;
  height: 20px;
  padding: 0;
  margin-right: 10px;
  &__icon{
    background: url("./img/heart_off.svg");
    width: 10px;
    height: 8px;
    transition: all ease 0.4s;
  }

  &__text {
    margin-left: 0.5rem;
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
    color: $darkShade-color-25;
  }

  span {
    transition: all ease 0.4s;
  }

  &:focus {
    background-color: transparent;


    span {
      //color: ;
    }
  }

  &:hover {

    background-color: transparent;


    span {
      //color: ;
    }
  }
}

.liked {
  border-color: $purple-color;
  .button-like__icon{
    background: url("./img/heart_on.svg");
    transition: all ease 0.4s;
  }

  span {
    color: $purple-color;

  }

  &:focus {
    //background-color: ;

    span {
      //color: ;
    }
  }

  &:hover {
    //background-color: ;
    //border-color: ;

    span {
      //color: ;
    }
  }
}

