@import "../../theme/variables";

.search-room{
  max-width: 1160px;
  padding: 30px 20px 62px;
  margin: 0 auto;
  box-sizing: content-box;
  display: grid;
  grid-template-columns: 266px 1fr;
  grid-gap: 60px;
  &--with-border{
    border-bottom: 1px solid $darkShade-color-25;
  }
  @include media-mobile{
    grid-template-columns: auto;
    aside{
      max-width: 266px;
      display: flex;
      flex-direction: column;
      margin: auto;
    }
  }
  &__title{
    margin-bottom: 21px;
    @include media-tablet{
      text-align: center;
    }
  }
  &__rooms{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px 12px;
    margin-bottom: 40px;
    @include media-lg{
      grid-template-columns: 1fr 1fr;
      justify-items: center;
    }
    @include media-tablet{
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }
  &__pagination{
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
}
.search-room-side-bar{
  &__sub-text{
    font-size: $fz-h3;
    color: $darkShade-color-50;
    margin-top: 9px;
    margin-bottom: 0px;
  }
  &__checkbox-wrap{
    max-width: 226px;
  }
}
