include ../card-block/card-block
include ../date-dropdown/date-dropdown
include ../dropdown/dropdown
include ../buttons/buttons

mixin find-rooms
  +card-block().find-rooms
    h1 Найдём номера под ваши пожелания
    form
      +form-control('')
        +date-dropdown-separate('Прибытие', 'Выезд')
      +form-control('Гости')(class='form-control--form-margin')
        +dropdown-guests()
      +btnLarge({
        text: 'Подобрать номер',
        type: 'submit'
      })
