include ../card-block/card-block
include ../date-dropdown/date-dropdown
include ../dropdown/dropdown
include ../buttons/buttons

mixin find-rooms
    +card-block().find-rooms
        h1 Найдём номера под ваши пожелания
        form
            +form-control('')(class='form-control--two-col form-control--no-margin')
                +two-date-dropdown('Прибытие', 'Выезд')
            +form-control('Гости')(class='form-control--margin-button')
                +dropdown-guests()
            +form-control()(class='form-control--no-margin')
                +btnLarge('Подобрать номер')
