@import "../../theme/variables";

input.date-dropdown{
  background: url("./img/arrow-down.svg") no-repeat 95% 50%;
  &--short{
    background-position-x: 90%;
  }
}
.datepicker-inline{
  .datepicker{
    border-color: $darkShade-color-25;
    -webkit-box-shadow: 0px 10px 20px 0px $darkShade-color-5;
    -moz-box-shadow: 0px 10px 20px 0px $darkShade-color-5;
    box-shadow: 0px 10px 20px 0px $darkShade-color-5;
  }
}
.datepicker {
  width: 320px;
  color: $darkShade-color-50;
  font-size: 12px;
  font-family: 'Montserrat';
  border-color: $darkShade-color-25;
  -webkit-box-shadow: 0px 10px 20px 0px $darkShade-color-5;
  -moz-box-shadow: 0px 10px 20px 0px $darkShade-color-5;
  box-shadow: 0px 10px 20px 0px $darkShade-color-5;
}
.datepicker--content {
  padding: 20px;
  padding-bottom: 0;
}
.datepicker--days-names {

}
.datepicker--pointer{
  display: none;
}

.datepicker--day-name {
  color: $purple-color;
  text-transform: none;
  font-size: 12px;
  font-weight: 700;
  font-family: 'Montserrat';
}

.datepicker--nav {
  border: none;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.datepicker--nav-title{
  font-size: 19px;
  color: $base-darkShade-color;
  font-weight: 700;
  font-family: 'Montserrat';
}
.datepicker--nav-action {
  &:hover{
    background: none;
  }
  svg {
    width: 17px;
    height: 18px;
  }

  path {
    fill: $purple-color;
    stroke: none
  }
}
.datepicker--cell {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  &.-current- {
    color: white;
    font-weight: 700;
    background: linear-gradient(180deg, rgba(111,207,151,1) 0%, rgba(102,210,234,1) 100%);
    &.-focus- {
      color: white;
    }
  }
  &.-range-from- {
    border: none;
    background: linear-gradient(180deg, rgba(188,156,255,1) 0%, rgba(139,164,249,1) 100%);
    border-radius: 100%;
    position: relative;
    &::after{
      content: "";
      background: linear-gradient(180deg, rgba(188,156,255,0.25) 0%, rgba(139,164,249,0.25) 100%);
      display: block;
      top: 0;
      right: 0;
      position: absolute;
      width: 20px;
      height: 40px;
      z-index: -1;
    }
  }
  &.-range-to- {
    border: none;
    background: linear-gradient(180deg, rgba(188,156,255,1) 0%, rgba(139,164,249,1) 100%);
    border-radius: 100%;
    position: relative;
    &::before{
      content: "";
      background: linear-gradient(180deg, rgba(188,156,255,0.25) 0%, rgba(139,164,249,0.25) 100%);
      display: block;
      top: 0;
      left: 0;
      position: absolute;
      width: 20px;
      height: 40px;
      z-index: -1;
    }
  }
  &.-selected- {
    background: linear-gradient(180deg, rgba(188,156,255,1) 0%, rgba(139,164,249,1) 100%);
    &.-focus- {
      background: linear-gradient(180deg, rgba(188,156,255,1) 0%, rgba(139,164,249,1) 100%);
    }
  }
  &.-in-range- {
    background: linear-gradient(180deg, rgba(188,156,255,0.25) 0%, rgba(139,164,249,0.25) 100%);
  }
}
.datepicker--cell-day {
  &.-other-month- {
    color: $darkShade-color-25;
  }
}
.datepicker--buttons {
  border: none;
  justify-content: space-between;
  padding: 20px;
}
.datepicker--button {
  color: $purple-color;
  text-transform: uppercase;
  font-weight: 700;
  height: auto;
  flex: inherit;
  &:hover{
    background: none;
    color: $darkShade-color-50;
  }
}
