@import "../../theme/variables";

input.date-dropdown{
  background: url("./img/arrow-down.svg") no-repeat 95% 50%;
  &--short{
    background-position-x: 90%;
  }
}
.datepicker-inline{
  .datepicker{
    border-color: $darkShade-color-25;
    -webkit-box-shadow: 0px 10px 20px 0px $darkShade-color-5;
    -moz-box-shadow: 0px 10px 20px 0px $darkShade-color-5;
    box-shadow: 0px 10px 20px 0px $darkShade-color-5;
  }
}
.datepickers-container{
  @include media-mobile{
    max-width: 316px;
    width: 100%;
    left: -26px
  }
}
.datepicker {
  width: 320px;
  color: $darkShade-color-50;
  font-size: $fz-h3;
  font-family: 'Montserrat', sans-serif;
  border-color: $darkShade-color-25;
  -webkit-box-shadow: 0px 10px 20px 0px $darkShade-color-5;
  -moz-box-shadow: 0px 10px 20px 0px $darkShade-color-5;
  box-shadow: 0px 10px 20px 0px $darkShade-color-5;
  @include media-mobile{
    width: 100%;
  }
}
.datepicker--content {
  padding: 20px 20px 0;
  @include media-mobile{
    padding: 15px 15px 0;
  }
}
.datepicker--days-names {
  margin-bottom: 13px;
}
.datepicker--pointer{
  display: none;
}

.datepicker--day-name {
  color: $purple-color;
  text-transform: none;
  font-size: $fz-h3;
  font-weight: 700;
}

.datepicker--nav {
  border: none;
  padding: 15px 17px 10px 16px;
}
.datepicker--nav-title{
  font-size: $fz-h2;
  color: $base-darkShade-color;
  font-weight: 700;
}
.datepicker--nav-action {
  &:hover{
    background: none;
  }
  svg {
    width: 17px;
    height: 18px;
  }
  path {
    fill: $purple-color;
    stroke: none
  }
}
.datepicker--cell {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  &.-current- {
    color: white;
    font-weight: 700;
    background: $green-linear-gradient;
    &.-focus- {
      color: white;
    }
  }
  &.-range-from- {
    border: none;
    background: $purple-linear-gradient;
    border-radius: 100%;
    position: relative;
    &::after{
      content: "";
      background: linear-gradient(180deg, rgba(188,156,255,0.25) 0%, rgba(139,164,249,0.25) 100%);
      display: block;
      top: 0;
      right: 0;
      position: absolute;
      width: 20px;
      height: 40px;
      z-index: -1;
    }
  }
  &.-range-to- {
    border: none;
    background: $purple-linear-gradient;
    border-radius: 100%;
    position: relative;
    &::before{
      content: "";
      background: linear-gradient(180deg, rgba(188,156,255,0.25) 0%, rgba(139,164,249,0.25) 100%);
      display: block;
      top: 0;
      left: 0;
      position: absolute;
      width: 20px;
      height: 40px;
      z-index: -1;
    }
  }
  &.-selected- {
    background: $purple-linear-gradient;
    &.-focus- {
      background: $purple-linear-gradient;
    }
  }
  &.-in-range- {
    background: linear-gradient(180deg, rgba(188,156,255,0.25) 0%, rgba(139,164,249,0.25) 100%);
  }
}
.datepicker--cell-day {
  &.-other-month- {
    color: $darkShade-color-25;
  }
}
.datepicker--buttons {
  border: none;
  justify-content: space-between;
  padding: 20px;
}
.datepicker--button {
  color: $purple-color;
  text-transform: uppercase;
  font-weight: 700;
  height: auto;
  flex: inherit;
  &:hover{
    background: none;
    color: $darkShade-color-50;
  }
}
.date-dropdown-inline{
  margin-bottom: 40px;
}
.date-dropdown-separate{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
