mixin btnType1(text)
  button.btn-type1(class!=attributes.class)=text

mixin btnType2(text)
  button.btn-type2(class!=attributes.class)=text

mixin btnType3(text)
  button.btn-type3(class!=attributes.class)=text

mixin btnLarge(text)
  button.btn-large(class!=attributes.class)=text
