@import "../../theme/variables";

.range-slider{
  box-shadow: none;
  border-radius: 3px;
  border-color: $darkShade-color-25;
  background: white;
  height: 6px;
  margin-top: 23px;
  &__value{
    position: absolute;
    top: 0;
    right: 0;
    font-size: $fz-h3;
    color: $darkShade-color-50;
  }
  .noUi-handle{
    width: 16px;
    height: 16px;
    right: -8px;
    top: -5px;
  }
}
.noUi-connect{
  background: rgb(111,207,151);
  background: $green-linear-gradient;
}
.noUi-handle{
  box-shadow: none;
  background: rgb(111,207,151);
  background: $green-linear-gradient;
  border-radius: 100%;
  border: 2px solid white;
  &:after,&:before{
    display: none;
  }
}
.noUi-connects {
  height: 6px;
  margin-top: -1px;
}
