mixin chart-js()
  canvas(width='120' height='120')#my-chart
  ul.chart-legends
    li.chart-legends__item.chart-legends__item--yelow Великолепно
    li.chart-legends__item.chart-legends__item--blue Хорошо
    li.chart-legends__item.chart-legends__item--green Удовлетворительно
    li.chart-legends__item.chart-legends__item--dark Разачарован
