extends ../base/base

block variables

block title
    | UI KIT

block main
    a(href='colorandtype.html') Color&Type
    br
    a(href='formelements.html') Form Elements
    br
    a(href='cards.html') Cards
    br
    a(href='headersandfooters.html') Headers & Footers
    br
    br
    a(href='landing-page.html') Landing page
    br
    a(href='search-room.html') Search room
    br
    a(href='room-details.html') Room details
    br
    a(href='registration.html') Registration
    br
    a(href='sign-in.html') Sign in
