extends ../base/base

block variables

block title
    | UI KIT

block main
    a(href='colorandtype.html') Color&Type
    br
    a(href='formelements.html') Form Elements
    br
    a(href='cards.html') Cards
    br
    a(href='headersandfooters.html') Headers & Footers
