mixin text-icon-block(options)
  if !options
    -options = {}
  .icon-text-block(class!=attributes.class)
    div.icon-text-block__img-wrap
      img.icon-text-block__img(src=require('../../components/icon-text-list/img/' + options.img))
    div.icon-text-block__text-wrap
      span.icon-text-block__title=options.title
      span.icon-text-block__text=options.text

