@import "../../theme/variables";

.icon-text-block{
  display: flex;
  max-width: 280px;
  padding-bottom: 20px;
  border-bottom: 1px solid $darkShade-color-10;
  margin-bottom: 20px;
  &--no-border{
    border-bottom: none;
    margin-bottom: 0;
  }
  &__img-wrap{
    width: 48px;
    height: 48px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__img{
  }
  &__title,
  &__text{
    line-height: 24px;
    display: block;
    color: $darkShade-color-75;
  }
  &__title{
    font-weight: 700;
  }
}
