$base-darkShade-color: rgb(31, 32, 65);
$darkShade-color-75: transparentize($base-darkShade-color, 0.25);
$darkShade-color-50: transparentize($base-darkShade-color, 0.5);
$darkShade-color-25: transparentize($base-darkShade-color, 0.75);
$darkShade-color-10: transparentize($base-darkShade-color, 0.9);
$darkShade-color-5: transparentize($base-darkShade-color, 0.95);
$purple-color: #bc9cff;
$green-color: #6fcf97;

$xxs: 320px;
$xs: 575px;
$sm: 767px;
$md: 991px;
$lg: 1199px;
$xl: 1440px;

@mixin body-text{
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: $darkShade-color-75;
}

@mixin h1-text{
  font-size: 24px;
  font-weight: 700;
  color: $base-darkShade-color;
}

@mixin media-xl{
  @media (max-width: $xl) {
    @content
  }
}

@mixin media-lg{
  @media (max-width: $lg) {
    @content
  }
}

@mixin media-tablet{
  @media (max-width: $md) {
    @content
  }
}

@mixin media-mobile{
  @media (max-width: $sm) {
    @content
  }
}
@mixin media-xs{
  @media (max-width: $xs) {
    @content
  }
}
