include ../form-control/form-control
include ../text-field/text-field
include ../radio-buttons/radio-buttons
include ../masked-text-field/masked-text-field
include ../toggle/toggle
include ../buttons/buttons

mixin account_registration()
  section.card-block
    h1 Регистрация аккаунта
    form
      +form-control()
        +text-field({placeholder: 'Имя'})(class='text-field--form-margin')
        +text-field({placeholder: 'Фамилия'})(class='text-field--form-margin')
        +radiobox('name1', 'Мужчина', true)
        +radiobox('name1', 'Женщина')
      +form-control('Дата рождения')
        +masked-text-field()
      +form-control('данные для входа в сервис')
        +text-field({placeholder: 'Email', type: 'email'})(class='text-field--form-margin')
        +text-field({placeholder: 'Пароль', type: 'password'})(class='text-field--form-margin')
        +toggle('Получать спецпредложения')
      +btnLarge({text: 'Перейти к оплате', type: 'submit'})(class='button-large--form-margin')
    .account-registration__footer
      span Уже есть аккаунт на Toxin
      +linkType2('Войти','sign-in.html')(class='button-type-2--reg')
