include ../buttons/buttons

mixin page-header(options)
  if !options
    - options = {}

  header.page-header(class!=attributes.class)
    .page-header__container
      .page-header__logo
        a(href='/')
          img(src=require('../../components/page-header/img/page-logo.svg'))
      .page-header__btn-burger
        span
      nav.page-header__nav
        ul.page-header__menu
          li.page-header__menu-item
            a.page-header__active(href='/change-me/') О нас
          li.page-header__menu-item.page-header__menu-item--submenu
            a(href='/change-me/') Услуги
            ul.page-header__submenu
              li
                a(href='/change-me/') Пункт подменю 1
              li
                a(href='/change-me/') Пункт подменю 2
              li
                a(href='/change-me/') Пункт подменю 3
          li.page-header__menu-item
            a(href='/change-me/') Вакансии
          li.page-header__menu-item
            a(href='/change-me/') Новости
          li.page-header__menu-item.page-header__menu-item--submenu
            a(href='/change-me/') Соглашения
            ul.page-header__submenu
              li
                a(href='/change-me/') Пункт подменю 1
              li
                a(href='/change-me/') Пункт подменю 2
              li
                a(href='/change-me/') Пункт подменю 3
        if !options.login
          +linkType2('Войти', 'sign-in.html')(class='button-type-2--header')
          +linkType1('Зарегистрироваться', 'registration.html')(class='button-type-1--header')
        else
          .page-header__user-block
            = options.login
