mixin bullet-list()
  ul.bullet-list
    li.bullet-list__item Нельзя с питомцами
    li.bullet-list__item Без вечеринок и мероприятий
    li.bullet-list__item Время прибытия — после 13:00, а выезд до 12:00
