@import "../../theme/variables";

.toggle-wrap{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.custom-toggle{
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-right: 10px;
  font-size: $fz-base;
  input{
    opacity: 0;
    width: 0;
    height: 0;
    &:checked + .custom-toggle__slider{
      background-color: white;
      border-color: $purple-color;
      &::before{
        background: $purple-linear-gradient;
        -webkit-transform: translateX(18px);
        -ms-transform: translateX(18px);
        transform: translateX(18px);
      }
    }
    &:focus + .custom-toggle__slider{
    }
  }
  &__slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    border-radius: 10px;
    border: 1px solid $darkShade-color-25;
    -webkit-transition: .4s;
    transition: .4s;
    &::before{
      position: absolute;
      content: "";
      height: 12px;
      width: 12px;
      border-radius: 100%;
      left: 4px;
      bottom: 3px;
      background-color: $darkShade-color-25;
      -webkit-transition: .4s;
      transition: .4s;
    }
  }
  &__text{
    font-size: $fz-base;
    line-height: 24px;
    color: $darkShade-color-75;
  }
}
