@import "../../theme/variables";
.form-control{
  width: 100%;
  margin-bottom: 20px;
  position: relative;
  font-size: 0;
  &--large-margin-bottom{
    margin-bottom: 40px;
  }
  &--form-margin{
    margin-bottom: 30px;
  }
  &__label{
    margin-bottom: 5px;
    &--label-group{
      margin-bottom: 16px;
    }
  }
  &__ui-status{
    position: absolute;
    top: 0px;
    right: 0;
    font-size: $fz-h3;
    line-height: 15px;
    color: $darkShade-color-50;
    text-transform: uppercase;
  }
  &--short{
    width: 266px;
  }
  &--date-block{
    width: 150px;
    margin-bottom: 0;
  }
}
