@import "../../theme/variables";


.text-field{
  border-radius: 4px;
  border: 1px solid $darkShade-color-25;
  background: white;
  padding: 13px 15px;
  color: $darkShade-color-25;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  font-size: 14px;
  font-family: 'Montserrat';

  &::placeholder{
    color: $darkShade-color-25;
  }
  &:hover,&:focus,&:active,:focus-visible{
    border: 1px solid $darkShade-color-50;
    color: $darkShade-color-75;
  }
  &--sub{
    padding-right: 50px;
  }
}
.text-submit{
  width: 44px;
  height: 44px;
  background: url("./img/arrow_forward.svg") no-repeat 50% 50%;
  position: absolute;
  right: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
}
